<p id="notice"><%= notice %></p>


<%  if user_signed_in? %>
entraste!!
<%= render 'shelters/form', shelter: @shelter %>
<%= render 'shelters/shelters', shelters: @shelters %>
<% else %>
debes entrar!
<%  end %>




<br>