<p id="notice"><%= notice %></p>


<%  if user_signed_in? %>
<h2>Bienvenido a shelter app</h2>

<div class="mid-size">
<p>Nuevo refugio</p>
     <%= render 'shelters/form', shelter: @shelter %>
</div>


<div class="mid-size">
     <div id="shelter_edit"></div>
</div>

<div class="clear"></div>


<%= render 'shelters/shelters', shelters: @shelters %>
<% else %>
debes entrar!
<%  end %>




<br>