<p id="notice"><%= notice %></p>

<div id='animal_show'>

   <%= render 'show', animal: @animal %>

</div>



<div id='adopter_form_div'></div>

<%= link_to 'Edit', edit_animal_path %> |
<%= link_to 'Back', shelter_animals_path(@animal.shelter_id) %>
